.header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3.5rem;
    display: flex;
    width: 100%;
    height: 13%; // trying a percentage here. Not sure how this will work.
    // z-index: 1;
    &__graphic {
        margin-right: 3rem;
    }
    &__logo {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &-container {
            flex-basis: 17rem;
            margin-right: 2rem;
            position: relative;
        }
    }
    &__tagline {
        color: $color-green;
        // padding-top: 6rem;
        font-size: 1.8rem;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__menu {
        width: 13rem;
        margin-left: auto;
        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            padding: 0;
            background-color: transparent;
            z-index: 99999;
        }
        svg {
            height: 5rem;
            width: 5rem;
        }
    }
}

.menu__bar {
    transition: transform .3s ease-in;
}

#menu-bar-middle {
    transform-origin: center;
}

#menu-bar-bottom {
    transform-origin: left;
}

#menu-toggle.open {
    #menu-bar-top {
        transform: rotate(33deg);
    }
    #menu-bar-middle {
        transform: scaleX(0);
    }

    #menu-bar-bottom {
        transform: rotate(-33deg);
    }
}