#main {
  padding-top: 10.5rem;
  display: block;

  &.front-page section {
    margin: 0 10%;
    @include respond(tab-port) {
      margin: 0 5%;
    }
    @include respond(phone) {
      margin: 0;
    }
  }
  @include respond(phone) {
    padding-top: 8rem;
  }
}

.site-content {
  padding-bottom: 0;
}