.masthead {
    height: 36rem;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    &__copy {
        position: absolute;
        color: white;
        font-size: 5rem;
        font-weight: bold;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 37rem;
        line-height: 1;
        p {
            line-height: 1;
        }
        @include respond(small-phone) {
            left: 0;
        }
    }
}