.post {
    &__frontmatter {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #d8dee1;
    }
    &__category {
        flex-basis: 37%;
        padding-bottom: 1rem;
        a, a:link, a:visited {
            color: #00a0e0;
            font-size: 7rem;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    &__title {
        font-size: 3rem;
        font-weight: bold;
        text-transform: capitalize;
        flex-basis: 60%;
        margin-right: auto;
        border-left: 1px solid #d8dee1;
        padding-left: 2rem;
    }

    &__author {
        text-transform: uppercase;
        color: #00a0e0;
        font-size: 2rem;
        flex-basis: 30%;
        padding: 1rem 0;
    }

    &__comments {
        text-transform: uppercase;
        color: #00a0e0;
        font-size: 2rem;
        padding: 1rem;
    }
    &__content {
        padding: 2rem 0 4.5rem 0;
    }
}

.single-post {
    .post {
        &__category {
            font-size: 4rem;
        }
        &__content {
            p {
                text-align: justify;
                margin-bottom: 1.6rem;
            }
            ul {
                list-style: disc;
                padding-left: 3rem;
                display: block;
                margin-block-start: 1.6rem;
                margin-block-end: 1.6rem;
                margin-inline-start: 0;
                margin-inline-end: 0;
                padding-inline-start: 4rem;
            }
            li {
                text-transform: uppercase;
                padding-bottom: 1.3rem;
                list-style-image: url('assets/img/check.png');
                font-weight: bold;
            }
        }
    }
}