.gaia_product {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 2rem;
    &__image {
        position: relative;
        padding: 1rem;
    }

    &__shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}