.woocommerce .gaia_product, .gaia_product {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 2rem;
    &__header {
        display: flex;
        .woocommerce-products-header__title {
            font-size: 3rem ;
            text-align: left;
            flex-basis: 70%;
        }
        &-meta {
            flex-basis: 30%;
        }
    }
    &__image {
        position: relative;
        padding: 1rem;
    }

    &__shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__description {
        flex-basis: 65%;
    }

    &__related {
        flex-basis: 30%;
    }
}