.wpp {
    &-title {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 2rem;
        font-weight: bold;
    }

    &-list {
        li a, li a:link {
            text-decoration: none;
            color: $color-blue;
        }
        li {
            padding: 2rem 0;
            border-bottom: 1px solid $color-light-gray;
        }
    }
}