.type-page.page {
  .page {
    &__header, p.page__header {
      font-size: 3.3rem;
      margin-bottom: 2rem;
      margin-top: 0;
      line-height: 1;
      font-weight: bold;
    }

    &__row {
      display: flex;
      width: 100%;
      @include respond(tab-port) {
        display: block;
      }
      &.clearance {
        padding-bottom: 4rem;
      }
    }

    &__column {
      flex-basis: 45%;
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: 10%;
      }
      &.half {
        flex-basis: 25%;
      }
      @include respond(tab-port) {
        margin-bottom: 2rem;
      }
    }

  }

  h2 {
      font-size: 4rem;
      font-weight: bold;
      padding: 2rem 0;
  }

  h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    margin: 1rem 0;
  }
   
  img {
    width: 100%;
  }

  .payment_method_ppec_paypal {
    img {
      width: initial;
    }
  }
    
    
  section {
    border-bottom: 1px solid #d8dee1;
    padding: 2rem 0;
  }

  .stormtracker {
    color: white;
    background-image: url('./assets/img/storm_tracker_background.jpg');
    width: 100%;
    padding: 4rem;
    padding-bottom: 43%;
    background-size: contain;
    background-repeat: no-repeat;
    h3 {
      font-size: 6rem;
      text-decoration: underline;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    p {
      width: 36%;
      font-size: 2rem;
    }
  }

  .entry-content {
    margin: 0;
  }

}

.locator, .type-page.page .locator {
  width: 100%;
  background-image: url('assets/img/gaia_map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  position: relative;
  margin-bottom: 2rem;
  cursor: pointer;
  &__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  h2 {
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-align: left;
    color: white;
    position: relative;
    z-index: 2;
  }
  p {
    position: relative;
    padding-left: 2rem;
    text-decoration: underline;
    cursor: pointer;
    z-index: 2;
    color: white;
    margin: 0;
    padding-bottom: 2rem;
  }
  &__disclaimer {
    padding-top: 1rem;
    border-top: 1px solid #d8dee1;
  }
}

a .locator {
  h2 {
    text-decoration: none;
  }
}